@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.app_layout {
   margin: 0px;
   font-family: "Jost", sans-serif;
   animation: fadeInAnimation ease 2s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}

@media (min-width: 1024px) {
   .app_layout {
      display: flex;
      justify-content: start;
      padding-left: 50px;
      background-color: #09090b;
      padding-left: 70px;
   }
}
@media (min-width: 1536px) {
   .app_layout {
      background-color: #09090b;
      
   }
}
